@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
*{
    box-sizing: border-box;
    text-decoration: none;
    color: #444444;
    
}

body{
    font-family: 'Noto Sans TC', sans-serif;
}

div.wrap{
    width: 1200px;
    /* border: 1px solid gray; */
    margin: 0 auto;
}

div.col{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
div.col > img{
    display: inline-block;
    margin-right: 40px;

    /* border: 1px solid black; */
}

/* hover button */


.btn {		
	position: relative;	
	padding: 10px 20px;
	font-size: 16px;
    color: #ffba39;
    border: 1px solid #ededed;
    border-radius: 5px;
	/* letter-spacing: 10px; */
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: none;
}

.btn:before, .btn:after {
	content: '';
	position: absolute;	
	transition: inherit;
    z-index: -1;
    box-sizing: border-box;
}

.btn:hover {
	color: #fff;
    transition-delay: .5s;
    border: 1px solid transparent;
}

.btn:hover:before {
    transition-delay: 0s;
    box-sizing: border-box;

}

.btn:hover:after {
	background: #ffba39da;
    transition-delay: .35s;
}

/* From Top */

.from-top:before, 
.from-top:after {
	left: 0;
	height: 0;
	width: 100%;
}

.from-top:before {
	bottom: 0;	
	border: 1px solid #444444;
	border-top: 0;
	border-bottom: 0;
}

.from-top:after {
	top: 0;
	height: 0;
}

.from-top:hover:before,
.from-top:hover:after {
	height: 100%;
}


ul.header_nav_list >li:nth-child(2) > a{
    border: 2px solid #ffba39;
}
/* ------------------------------ */
/* breadcrmb */
nav.breadcrumb{
    border: 1px solid #EBEBEB;
    background: #EBEBEB;
    /* margin-bottom: 30px; */
}

nav.breadcrumb > ol{
    display: flex;
    margin: 5px;
}

nav.breadcrumb > ol > li:first-child::after,
nav.breadcrumb > ol > li:nth-child(2)::after,
nav.breadcrumb > ol > li:nth-child(3)::after,
nav.breadcrumb > ol > li:nth-child(4)::after{
    content: '>';
    font-size: 13px;
    display: inline-block;
    padding: 0 5px;
}

nav.breadcrumb > ol > li  a{
    display: inline-block;
    font-size: 13px;
}

nav.breadcrumb > ol > li  a:hover{
    font-weight: bold;
}

nav.breadcrumb > ol > li:last-child{
    font-weight: bold;
}

/* ------------------------------------- */

div.main{
    

}

/* 背景 */
div.main_yellow_chair{
    /* background: linear-gradient(-45deg, rgba(106, 152, 189, 0.562),#fff); */
    background: linear-gradient(-170deg,rgba(106, 152, 189, 0.719) 70% ,#fff 40%);
    /* background: rgb(106,151,189); */
    display: flex;
    /* border: 2px solid black; */
    padding: 20px;
    justify-content: center;
    margin-bottom: 30px;

}

/* 產品細節 */
div.main_yellow_chair > div.about_detail{
    /* border: 1px solid gray; */
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

div.main_yellow_chair > div.about_detail> h1{
    font-size: 25px;
    color: #fff;
    /* border-bottom: 2px solid #FFBA39; */
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative;
    line-height: 1.5;

}

@keyframes line{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}

div.main_yellow_chair > div.about_detail> h1:after{
    content:'';
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: #FFBA39;
    animation-name: line;
    animation-duration: 3s;
    position: absolute;
    left: 0;
    bottom: 0;
}


div.main_yellow_chair > div.about_detail span.star > .fas{
    color: rgb(255, 235, 57);
    padding: 0 3px;
}

div.main_yellow_chair > div.about_detail > p{
    margin-bottom: 10px;
}

div.main_yellow_chair > div.about_detail > span{
    font-size: 13px;
    display: inline-block;
    margin-bottom: 20px;
}


div.main_yellow_chair > div.about_detail > div.color{
    margin-bottom: 30px;
}

div.main_yellow_chair > div.about_detail > div.color > img{
    cursor: pointer;
    border: 1px solid transparent;
}

div.main_yellow_chair > div.about_detail > div.color > img:hover{
    border: 1px solid #FFBA39;
}

div.main_yellow_chair > div.about_detail > p.price{
    color: #fff;
    display: inline-block;
    /* font-size: 20px; */
}

div.main_yellow_chair > div.about_detail > p.price > span{
    font-size: 30px;
    color: #fff;
}

span.cart{
    display: inline-block;
    border: 1px solid red;
}

span.cart > a{
    display: inline-block;
    padding: 10px;
    background: #FFBA39;
    border-radius: 50%;
}




/* 產品主圖 */


@keyframes float {
	0% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
	50% {
		/* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
		transform: translatey(-15px);
	}
	100% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
}



div.main_yellow_chair > div.yellow_chair_pic{
    margin: 0 30px;
    animation-name: float;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


div.main_yellow_chair > div.yellow_chair_pic > img{
    width: 100%;
}



/* 右側細節九宮格 */

div.sub_detail{
    /* border:  1px solid gray; */
    width: 20%;
    
}

div.sub_detail > div.detail_pic{
    margin-bottom: 20px;
}  

div.sub_detail > div.detail_pic > ul{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    /* border: 1px solid red; */
    margin: 0 auto;


}

div.sub_detail > div.detail_pic > ul > li{
    width: 30%;
    margin: 2px;
    overflow: hidden;
}

div.sub_detail > div.detail_pic > ul > li > a{
    display: inline-block;
    width: 100%;
}

div.sub_detail > div.detail_pic > ul > li > a > img{
    width: 100%;
    vertical-align: middle;
    transition: .8s;
}

div.sub_detail > div.detail_pic > ul > li > a > img:hover{
    transform: scale(1.2);
}


/* 右側規格 */

div.size{
    /* border: 1px solid red; */
    margin-left: 34px;
}

div.size > h3{
    color: #fff;
    /* border-bottom: 2px solid #FFBA39; */
    padding-bottom: 20px;
    margin-bottom: 10px;
    position: relative;
}

div.size > h3:after{
    content:'';
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: #FFBA39;
    animation-name: line;
    animation-duration: 3s;
    position: absolute;
    left: 0;
    bottom: 0;

}


div.size  td{
    font-size: 13px;
    color: #fff;
    padding-bottom:10px;
    padding-right: 10px;
}

 div.main_yellow_chair a.cart .fas{
    color: #fff;
}

div.main_yellow_chair  a.cart{
     color: #fff;
    display: inline-block;
    padding: 10px 20px;
    /* border: 2px solid #ffba39; */
    border-radius: 50px;
    margin-left: 34px;
    transform: translateY(50%);
    font-size: 16px;
    background: #3c5a74;
    transition: .3s ease-in-out;
}

div.main_yellow_chair a.cart:hover{
    background: #ffba39;
}

div.main_yellow_chair a.title_side{
    display: none;
}

@media (min-width:1350px){
    div.main_yellow_chair > div.yellow_chair_pic{
        width: 30%;
    }
    div.main_yellow_chair > div.about_detail{
        width: 20%;
    }

    div.main_yellow_chair > div.sub_detail{
        width: 15%;
    }

}


@media (max-width:1024px){
    div.main_yellow_chair{
        background: rgba(106, 152, 189, 0.719);
        display: flex;
        padding: 20px;
        justify-content: center;
        margin-bottom: 30px;
    }
    div.main_yellow_chair > div.about_detail{
        width: 30%;
    }

    div.sub_detail{
        width: 25%;
    }
    div.main_yellow_chair a.title_side{
        display: block;
        transform: translateY(0);
        margin: 20px 0;
    }
    div.main_yellow_chair a.pic_side{
        display: none;
    }
}

@media (max-width:975px){
    div.main_yellow_chair{
        flex-wrap: wrap;
    }
    div.main_yellow_chair > div.yellow_chair_pic{
        order: -1;
        width: 50%;
    }


    div.sub_detail
    {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        width: 75%;
        justify-content: center;
        margin: 40px auto 0;
    }
    div.sub_detail > div.detail_pic > ul{
        flex-wrap: nowrap;
        width: 100%
    }

    div.sub_detail > div.detail_pic > ul > li{
        margin: 10px 10px;
    }

    div.size{
        margin-left: 0;
    }
}

@media (max-width:900px){
    div.sub_detail > div.detail_pic > ul{
        width: 100%;
    }

}

@media (max-width:857px){
    div.main_yellow_chair > div.yellow_chair_pic{
        width: 60%;
    }
    div.main_yellow_chair > div.about_detail{
        width: 75%;
        padding-top: 50px;
    }
    div.main_yellow_chair > div.about_detail> h1{
        width: 100%;
    }
    div.main_yellow_chair a.title_side{
        width: 100%;
        text-align: center;
    }
}

@media (max-width:768px){
    div.sub_detail > div.detail_pic > ul{
    flex-wrap: wrap;
    justify-content: center;
    }
    div.sub_detail > div.detail_pic > ul > li{
        width: 25%;
    }
}

@media (max-width:576px){
    div.main_yellow_chair > div.yellow_chair_pic{
        width: 90%;
        margin: 0px;
    }
}

@media (max-width:414px){

    div.main_yellow_chair > div.about_detail{
        padding-top: 30px;
    }
}





/* -------------------------------- */

/* 關於服務 */

div.service{
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}

div.service > ul{
    display: flex;
    /* border: 1px solid green; */
    justify-content: center;
}


div.service > ul > li{
    border: 1px solid #444444;
    padding: 10px;
    margin: 40px;
    position: relative;
    border-radius: 5px;
    transition: .5s ease-in-out;
}

div.service > ul > li > h3{
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 10px;
    padding-top: 30px;
    position: relative;
}

div.service > ul > li > h3::after{
    content:'';
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #FFBA39;
    animation-name: line;
    animation-duration: 3s;
    position: absolute;
    left: 0;
    bottom: 0;

}

div.service > ul > li > p{
    line-height: 1.5;
}

div.service > ul > li::before{
    content: '';
    display: inline-block;
    width: 60px;
    height: 60px;
    background: #fff;
    background-image: url(../img/about_us/transport.png);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    left: 45px;
}

@media (max-width:768px){
    div.service > ul{
    flex-direction: column;
    width: 100%;
    text-align: center;
    }

    div.service > ul > li::before{
        top: -25%;
        left: 45%;
    }
}

@media (max-width:576px){
    div.service > ul{
    flex-direction: column;
    width: 100%;
    text-align: center;
    }

    div.service > ul > li::before{
        top: -25%;
        left: 45%;
    }
}

@media (max-width:414px){
    div.service > ul > li::before{
        left: 40%;
    }
}

/* ------------------------------ */

/* 評論 */


div.feedback{
    background: #ededed;
    border-bottom: 1px solid #ededed;
    padding: 20px  100px;
}

div.feedback > div.feedback_nav{
    /* border: 1px solid black; */
    margin-bottom: 30px;
}


div.feedback > div.feedback_nav > ul{
    display: flex;
    justify-content: center;
}

div.feedback > div.feedback_nav > ul > li{
}


div.feedback > div.feedback_nav > ul > li > a{
    display: inline-block;
    /* border: 1px solid red; */
    padding: 10px 20px;
    margin: 0 10px;
}


/* 文章區 */

div.feedback_content{
    /* border: 1px solid gray; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* review */

div.feedback_content > div.review{
    /* border: 1px solid blue; */
}

div.feedback_content > div.review > span{
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 40px;
    color: #777575;
    font-size: 13px;
}

div.feedback_content > div.review > ul > li.account{
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    margin-bottom: 50px;
}

li.account > div.profile{
    border-radius: 50%;
    overflow: hidden;   
    /* border: 1px solid blue; */
}

li.account > div.profile > img{
    width: 100%;
    vertical-align: middle;
}

li.account > div.txt{
    /* border: 1px solid orange; */
    margin-left: 20px;
}


li.account > div.txt > h5{
    margin-bottom: 20px;
}

li.account > div.txt > p{
    margin-bottom: 20px;
    font-size: 13px;
}

li.account > div.txt > span{
    font-size: 12px;
    color: #777575;
}

/* 寫下評論 */

div.textarea{
    /* border-left: 1px solid #949494; */
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    
}

div.textarea > h3{
    margin-bottom: 20px;
    margin-top: 30px;
}

div.textarea > p{
    margin-bottom: 10px;
}

div.textarea > div.information{
    display: flex;
    padding-bottom: 10px;
}

div.textarea > div.information > input{
    padding: 5px 0;
}

div.textarea > div.information > input:last-child{
    margin-left: 10px;
}

div.textarea > textarea{
    resize: none;
}

div.textarea > input{
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 16px;
    width: 100px;
    background: none;
    background: #3c5a74;
    color: #fff;
    outline: none;
    border: none;

    /* background: none; */
}

div.textarea > input:hover{

    background: #444444;
}

@media (max-width:991px){
    div.feedback_content{
        flex-direction: column;
    }

    div.textarea{
        padding-left: 0;
    }

    div.feedback{
        padding: 20px 50px;
    }

}

@media (max-width:414px){
    div.textarea > div.information{
        flex-direction: column;
    }
    div.textarea > div.information > input:last-child{
        margin-left: 0;
        margin-top: 10px;
    }
}


/* ------------------------------- */

/* 產品 */

div.take_style{
    /* border: 1px solid blue; */
    margin-top: 100px;
}


div.take_style > h3{
    width: 150px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
    position: relative;
}

div.take_style > h3::after{
    content:'';
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: #FFBA39;
    animation-name: line;
    animation-duration: 3s;
    position: absolute;
    left: 0;
    bottom: 0;
}


div.take_style > span{
    font-size: 13px;
    margin-left: 25px;
}


 div.product{
    overflow-y: hidden;
    box-sizing: content-box;
    padding-bottom: 30px;
    height: 270px;
}

div.product > ul{
    width: 260%;
    display: flex;
    justify-content: space-around;
    position: relative;
}

div.product > ul > li{
    width: 5%;
}

/* 把slider bar藏起來 */
div.hide_scroll{
    /* border: 1px solid red; */
    overflow: hidden;
    height: 270px;
}


/* slider_control */
div.product_slider{
    display: flex;
    align-items: center;
    /* border: 1px solid blue; */
    margin: 20px;
}

div.take_style button{
    outline: none;
    border: none;
    background: none;
    /* border: 1px solid red; */
    cursor: pointer;
    padding: 20px;
}

div.take_style button > .fas{
    font-size: 30px;
}

div.take_style button > .fas:hover{
    color: #ffba39;
}


/* ------------------- */
/* 原產品css */
div.product_item{
    /* border: 1px solid green; */
    display: inline-block;
    /* width: 14%; */
    width: 100%;
}

div.product_item > div.item_pic{
    overflow: hidden;
    /* border: 1px solid blue; */
}

div.product_item > div.item_pic img:hover{
    transform: scale(1.1);
}



div.product_item > div.item_pic{
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


div.product_item > div.item_pic > a{
    /* border: 1px solid red; */

}
div.product_item > div.item_pic > a > img{
    width: 100%;
    transition: .6s;
}

div.product_item > div.item_content{
    display: flex;
    flex-direction: column;
    margin: 1rem 0 0 2rem;

}

div.item_content > a > h4{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

div.item_content > span.discribe{
    font-size: 13px;
    color: #707070;
    margin-bottom: 10px;
}
div.item_content > span.price{
    font-size: 20px;
    font-weight: bold;
}


/* 購物車 */
div.product_buttons{
    border: 1px solid #ffba39;
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: 2px;
    transform: translateY(108%);
    transition: .8s;
}

div.product_buttons > ul{
    display: flex;
    /* border: 1px solid red; */
}

div.product_buttons > ul > li{
    border-right: 1px solid #ffba39;
    flex-grow: 1;
}

div.product_buttons > ul > li:last-child{
    border-right: 0;
}

div.product_buttons  button.quck_view{
    background: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    width: 100%;
    height: 100%;
}


div.product_buttons a{
    padding: 5px 10px;
    display: inline-block;
    width: 100%;
    background: rgba(255, 255, 255, 0.63);
    text-align: center;
}

div.product_buttons  button.quck_view:hover,
div.product_buttons a:hover{
    background-color:  #ffba39;
}


div.product_item > div.item_pic:hover
div.product_buttons{
    transform: translateY(-0%);
}


@media(min-width: 1350px){
    div.take_style{
        margin: 100px auto;
        max-width: 1200px;
    }

    
}


@media(max-width: 1170px){
    div.product > ul > li{
        width: 6%;
    }

}

@media(max-width: 991px){
    div.product_buttons{
        transform: translateY(0);
        position: inherit;
    }
    div.hide_scroll{
        height: 300px;
    }

    div.product{
        height: 300px;
    }
    
}

@media(max-width: 962px){
    div.take_style{
        margin-top: 180px;
    }

    div.product > ul{
        width: 319%;
    }

    div.product > ul > li{
        width: 7%;
        margin: 0 20px;
    }
    
}

@media(max-width: 842px){
    div.product > ul{
        width: 380%;
    }

}

@media(max-width: 767px){
    div.product > ul{
        width: 435%;
    }
}

@media(max-width: 715px){
    div.product > ul{
        width: 500%;
    }
}

@media(max-width: 667px){
    div.product > ul{
        width: 550%;
    }
}


@media(max-width: 575px){

    div.take_style button{
        padding: 10px;
    }
    div.take_style{
        margin-top: 100px;
    }

    div.product > ul{
        width: 640%;
    }
}

@media(max-width: 500px){
    div.product > ul{
        width: 760%;
    }
}








/* ------------------------------ */

/* 頁尾 */
footer.main_footer{
    margin-top: 150px;
    background: #ededed;
    background-image: url(../img/index/footer.jpg);
    background-size: cover;
    position: relative;
}


footer.main_footer > div.footer_content{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid green; */
    padding: 10px 0;

}

div.footer_content > div.footer_item{
    /* border: 1px solid pink; */
    transform: translateY(10%);
}
div.footer_content > div.footer_logo > a{
    /* border: 1px solid red; */
    display: inline-block;
    margin-bottom: 20px;
    
}



div.footer_content > div.footer_logo > p{
    color: #707070;
    line-height: 1.5;
    letter-spacing: 2px;
}
div.footer_content > div.footer_logo img{
    width: 120px;
}

div.footer_content > div.footer_logo > div.social_icon{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

div.footer_content > div.footer_logo  div.social_icon .fas,
div.footer_content > div.footer_logo  div.social_icon .fab{
    font-size: 25px;
    color: #707070;
    transition: .5s;
}


div.footer_content > div.footer_logo  div.social_icon .fas:hover{
    color:#ffba39;
}

div.footer_content > div.footer_logo  div.social_icon .fab:hover{
    color:#ffba39;
}

div.footer_content > div.footer_item h4{
    border-bottom: 2px solid #ffba39;
    padding-bottom: 10px;
    margin-bottom: 15px;
    color: #ffba39;
    width: 100px;

} 

div.footer_content > div.footer_item a{
    display: inline-block;
    padding-bottom: 10px;
    color: #707070;
}

div.footer_content > div.footer_item a:hover{
    color: #ffba39;
    transition: .8s;
}

div.footer_item  .fas{
    color: #707070;
    padding-right: 10px;
}



div.footer_copyright{
    text-align: right;
    font-size: 12px;
     /* border: 1px solid red;  */
     padding: 10px 20px 10px 0;
}